.card_container {
    .card_pic {
        height: 200px;
    }

    .tag_btn {
        color: $fa-btn;
        border-color: $fa-btn;
        margin: 4px;
    }

    .card_desc {
        color: $fa-text;
    }

    .card_link {
        color: $fa-boldtext;
        text-transform: capitalize;

        &:hover {
            text-decoration: underline;
        }
    }
}