.navbar{
    color: #273444;
    padding: 15px 10px;
    
    .search{
        display: flex;
        justify-content: flex-end;

        .search_btn{
           color: #273444; 
           border-color: #273444;
        }
    }

    .input{
        border-bottom: 1px solid #273444;
        margin-right: 10px;
    }
}