.navbar {
    color: $fa-search;
    padding: 15px 10px;

    .search {
        display: flex;
        justify-content: flex-end;

        .search_btn {
            color: $fa-search;
            border-color: $fa-search;
        }
    }

    .input {
        border-bottom: 1px solid $fa-search;
        margin-right: 10px;
    }
}